- name: Build Rusha Spark Docker image
  hosts: localhost
  vars:
    registry: "{{ lookup('env', 'DOCKER_REGISTRY') | default('', true) }}"
    repo_name: "{{ lookup('env', 'DOCKER_REPO') | default('rusha-spark-3.5.3-base', true) }}"
  tasks:
  - name: Get local git tag
    command: git rev-parse --short HEAD
    register: git_tag

  - name: Build and Push (if registry set)
    command: >
      docker buildx build
      --platform linux/amd64
      --build-arg BUILDKIT_INLINE_CACHE=1
      -t {{ registry }}/{{ repo_name }}:{{ git_tag.stdout }}
      -t {{ registry }}/{{ repo_name }}:latest
      . --push
    args:
      chdir: "{{ playbook_dir }}/.."
    when: registry != ""

  - name: Build Locally (if registry not set)
    command: >
      docker buildx build
      --platform linux/amd64
      --build-arg BUILDKIT_INLINE_CACHE=1
      -t {{ repo_name }}:{{ git_tag.stdout }}
      -t {{ repo_name }}:latest
      .
    args:
      chdir: "{{ playbook_dir }}/.."
    when: registry == ""
